* {
  padding:  0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body::-webkit-scrollbar {
  display:none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#theme{
  display: none;
}

#theme:checked ~ .App {
  filter: invert(1);
}

.App {
  max-width: 100%;
  min-height: 100vh;
  background: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.big-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.medium-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.small-avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.header {
  width: 100%;
  min-height: 70px;
  position: sticky;
  top:0;
  left:0;
  z-index: 2;
  box-shadow: 0 0 10px #fff;
}

.header .navbar {
  width: 100%;
  height: 100%;
}

.header .menu li {
  opacity: 0.7;
}

.header .menu li.active {
  opacity: 1;
}

.header .menu .material-icons {
  font-size: 30px;
}

.header .menu .dropdown-menu{
  position: absolute;
  left: inherit;
  right:0;
}

.header .menu label {
  cursor: pointer;
}

.header .close-search {
  position: absolute;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}

.header .users {
  position: absolute;
  width:30%;
  min-width: 100px;
  background: #fafafa;
  top: 100%;
  overflow: auto;
  margin-top: 3px; 
}



@import url("./styles/auth.css");