.status_modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.582);
    z-index: 4;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.status_modal form {
    max-width: 450px;
    width: 100%;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
}

.status_modal .status_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin: 10px;
    padding-bottom: 15px;
    translate: translateY(-13px);
}

.status_modal .status_body textarea {
    width: 100%;
    min-height: 150px;
    border: none;
    outline: none;
    resize: none;
    padding: 15px;
}

.status_modal .status_body .input_images {
    position: relative;
    display: flex;
    justify-content: center;
}

.status_modal .status_body .input_images i{
    font-size: 2rem;
    cursor: pointer;
}

.status_modal .status_body .input_images .file_upload {
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

.status_modal .status_body .input_images .file_upload #file{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* Button 2 */
.button-2 {
    background: #cb4e4e;
    color: #fff;
    -webkit-box-shadow: 0 4px #ab3c3c;
    -moz-box-shadow: 0 4px #ab3c3c;
    box-shadow: 0 4px #ca5a5a;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    align-items: center;
}

/* Button 2g */
.button-2g {
    border-radius: 45px;
}
.button-2g:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}
.button-2g:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}


.status_body .show_images {
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    place-items: center;
}

.status_body .show_images #file_img {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.status_body .show_images #file_img img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 100px;
}

.status_body .show_images #file_img span {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 4;
    background: wheat;
    color: crimson;
    padding: 3px 7px;
    border: 1px solid crimson;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bolder;
    cursor: pointer;
}


.status_body .stream  span {
    position: absolute;
    top: -17px;
    right: -7px;
    color: crimson;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid crimson;
    border-radius: 50%;
    background: white;
    width: 50px;
    padding-left: 13px;
    padding-bottom: 5px;
}




